{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block content_title %}
    {% if title is defined %}
        {{ title|trans }}
    {% endif %}
{% endblock %}

{% block main %}
    <div class="mt-5 mb-5">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {% if form.data is defined %}
            {{ form_widget(form.data) }}
        {% endif %}
        {{ form_end(form) }}
    </div>
{% endblock %}
