<tr>
    <td>
        {% if item.data.required is defined and item.data.required %}<span class="fa fa-asterisk text-danger"></span>{% endif %}
    </td>
    <td>
        {% for i in 0 .. level %}{% if i > 0 %}&nbsp;&nbsp;&nbsp;{% endif %}{% endfor %}
        {{ item.data.label }}
        {% if item.data.isSubject is defined and item.data.isSubject %}
            &nbsp; <span style="font-size: 10px;padding: 4px 4px 1px 4px;" class="label label-primary">{{ 'Subject'|trans }}</span>
        {% endif %}
    </td>
    <td>
        {{ item.data.name }}
    </td>
    <td>
        {{ item.itemName|trans }}
    </td>
    <td class="text-bold">
        <a href="{{ path('forms_shift_item', {formUuid: formAggregate.uuid, onVersion: formAggregate.streamVersion, itemUuid: item.uuid, direction: 'up'}) }}"><span class="fa fa-arrow-up"></span></a> &nbsp;
        <a href="{{ path('forms_shift_item', {formUuid: formAggregate.uuid, onVersion: formAggregate.streamVersion, itemUuid: item.uuid, direction: 'down'}) }}"><span class="fa fa-arrow-down"></span></a> &nbsp;
        <a href="{{ path('forms_edit_item', {formUuid: formAggregate.uuid, onVersion: formAggregate.streamVersion, itemUuid: item.uuid}) }}"><span class="fa fa-edit"></span> {{ 'Edit'|trans }}</a> &nbsp;
        <a href="{{ path('forms_remove_item', {formUuid: formAggregate.uuid, onVersion: formAggregate.streamVersion, itemUuid: item.uuid}) }}" class="text-danger action-delete"><span class="fa fa-trash"></span> {{ 'Delete'|trans }}</a> &nbsp;
    </td>
</tr>

{% if item.items is defined and item.items|length > 0 %}
    {% set level = level + 1 %}
    {% for item in item.items %}
        {% include '@forms/Admin/edit-item.html.twig' %}
    {% endfor %}
{% endif %}
{% if item.itemName == 'Group' %}
    <tr>
        <td colspan="4" class="text-bold small">
            {% set version = formAggregate.streamVersion %}
            {% set uuid = formAggregate.uuid %}
            {% set parent = item.uuid %}
            {% include '@forms/Admin/item-buttons.html.twig' %}
        </td>
    </tr>
{% endif %}